{%extends 'inventory/basic.html'%}
{%block title%}Home Page{%endblock%}



{%block style%}

{%endblock%}





{%block body%}

<div class="container">
    <div class="top-row">
      <div class="box top-box">
        <!-- Content for top left box goes here -->
        <p>Top Left Box - Scrollable area</p>
        <p>(Add your content here later)</p>
      </div>
      <div class="box top-box">
        <!-- Content for top right box goes here -->
        <p>Top Right Box - Scrollable area</p>
        <p>(Add your content here later)</p>
      </div>
    </div>
    <div class="bottom-box box">
      <!-- Content for bottom box goes here -->
      <p>Bottom Box - Scrollable area</p>
      <p>(Add your content here later)</p>
    </div>
  </div>
{%endblock%}


