{%extends 'inventory/basic.html'%}
{%block title%}Home Page{%endblock%}



{%block style%}
        .btn {
          padding: 4px 18px;
          background-color: #D2042D;
          transition: background-color 0.3s ease;
          border-radius: 5px;
          color: white;

        }
        .btn:hover {
        background-color:#880808 ; /* darker green on hover */
        color: white; /* keep text white */
      }
        .statusnot{
        text-decoration: none;
        padding: 4px 24px;
        background-color: #fecaca;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        color: #991b1b;
        font-size: 12px;
        font-weight: bold;

        }
        .statusnot:hover {
        text-decoration: none;
        background-color:red ; /* darker green on hover */
        color: white; /* keep text white */
      }
        .statusdone{
        text-decoration: none;
        padding: 4px 30px;

        background-color: #bbf7d0;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        color: #065f46;
        font-size: 12px;
        font-weight: bold;
        }
        .statusdone:hover {
        text-decoration: none;
        background-color:green ; /* darker green on hover */
        color: white; /* keep text white */
      }

       .showmore{
        text-decoration: none;
        padding: 4px 15px;
        background-color: #3B82F6;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        }
        .showmore:hover {
        text-decoration: none;
        background-color: blue; /* darker green on hover */
        color: white; /* keep text white */
      }



{%endblock%}




{%block body%}
{% if messages %}
    <script>
      {% for message in messages %}
        alert("{{ message }}");
      {% endfor %}
    </script>
  {% endif %}

<section class="text-gray-600 body-font mt-1 mb-5 ">
  <div class="container px-5 py-12 mx-auto">
   <div class="lg:w-2/4 h-20 flex justify-center items-center mx-auto   bg-white p-6 shadow-lg shadow-gray-350/35 rounded-3xl">
    <h1 class="text-4xl font-medium title-font text-orange-500 text-center">Stock List</h1>
</div>
  </div>
</section>




<div class=" flex justify-center mx-auto ">
    <div class="mb-7">
        <select id="category" name="category" class=" shadow bg-white bg-opacity-50 rounded-l-lg border border-gray-300 focus:border-red-500 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-2.5 px-8 leading-8 transition-colors duration-200 ease-in-out">
          <option value="TABLET">Tablet</option>
          <option value="CAPSULE">Capsule</option>
          <option value="SYRUP">Syrup</option>
          <option value="INJECTION">Injection</option>
        </select>
    </div>

    <div class="mb-7 ">

        <div class="">
            <input type="text" name="q" id="searchBox" placeholder="Search By Name, Brand, And Batch #"
                class="w-150 border border-gray-300 px-5 py-2 rounded-r-lg bg-white shadow"
                onkeyup="fetchSuggestions()" autocomplete="off">

        <ul id="suggestionBox"
            class="absolute z-10 bg-white border rounded-lg mt-1 w-150 hidden shadow-lg max-h-60 overflow-y-auto">
         <!-- Suggestions will go here -->
        </ul>
        </div>
    </div>

</div>




    <div class="overflow-x-auto">
  <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">#</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Brand</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Medicine</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Dosage Form</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Expiry date</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Stock</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Dose</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider">Status</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-left text-xs text-orange-500 font-medium text-gray-500 uppercase tracking-wider"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Example row -->
      {%for i in med%}
      <tr class="hover:bg-orange-50">
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{forloop.counter}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{i.med_brand}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{i.med_name}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{i.med_dosage_form}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{i.med_expiry}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{i.med_stock}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{i.med_dose}} {{i.med_dose_unit}}</td>
          {%if i.med_stock >= i.med_par %}
        <td class="border-b border-orange-200"><a class="statusdone ">In Stock</a></td>
          {%else%}
        <td class="border-b border-orange-200"><a class="statusnot">Low Stock</a></td>
          {% endif%}
        <td class="border-b border-orange-200"><a href="{% url 'show_more' i.med_id %}" class="showmore">Show More</a></td>
      </tr>
      {%endfor%}
      <!-- Repeat rows dynamically -->
    </tbody>
  </table>
</div>




{%endblock%}


{% block scripts %}

function fetchSuggestions() {
  const input = document.getElementById("searchBox");

  const suggestions = document.getElementById("suggestionBox");
  const query = input.value;

  if (query.length < 1) {
    suggestions.innerHTML = '';
    suggestions.classList.add('hidden');
    return;
  }

  fetch(`search_suggestions/?q=${encodeURIComponent(query)}`)
    .then(res => res.json())
    .then(data => {
      suggestions.innerHTML = '';
      if (data.length > 0) {
        data.forEach(item => {
          const li = document.createElement('li');
          li.textContent = `Brand: ${item.brand}  | Medicine: ${item.name} - ${item.form} | Batch# ${item.batch}`;
          li.className = 'px-4 py-2 text-sm hover:bg-gray-100 cursor-pointer';
          li.onclick = () => {
<!--            input.value = `${item.name}`;-->
<!--            suggestions.innerHTML = '';-->
<!--            suggestions.classList.add('hidden');-->
            window.location.href = `/inventory/show_stock/show_more/${item.id}/`;

          };
          suggestions.appendChild(li);
        });
        suggestions.classList.remove('hidden');
      } else {
        suggestions.classList.add('hidden');
      }
    });
}

{%endblock%}