<!DOCTYPE html>
<html>
<head>
  <title>Invoice</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <style>
    @page {
    size: 5in 8in;
    margin: 2px;
    padding: 0 10px

  }
  .right-div {
  float: right;
  width: 170px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; margin-top:20px

}

    body { font-family: 'Roboto Mono', monospace;
          font-size: 10px;
     }
    table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid #ccc; padding: 4px; }
  </style>
</head>
<body class="text-sm">
  <h1 style="text-align: center;
    color:#f97316; font-size: 26pt; margin-top:50px;margin-bottom:30px;">My Pharmacy</h1>
  <div style=" display: flex;
  justify-content: space-between;
  align-items: center; padding:0px; font-size:12px;">
    <p>Time: {{time}}</p>
    <p>Invoice #{{ order.order_id }}</p>
    <p>Date: {{ today }}</p>
  </div>
  <div style="display: flex;
    justify-content: space-between;
    align-items: center; margin-top:20px;">
    <div style="width: 45%;
   ">
    <p>Store #1021</p>
    <p>Elm Street Springfield,</p>
    <p>IL 62704 USA</p>
    </div>
    <div style="width: 45%;
    text-align: right;">
    <p>Registration #IDE09645</p>
    <p>Contact# 0000000000</p>
    <p>www.mypharmacy.com</p>
    </div>
  </div>


  <table>
    <thead>
      <tr><th>Medicine</th><th>Qty</th><th>Price</th><th>Total</th></tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.brand }} | {{item.name}}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.price }}</td>
          <td>${{ item.sub_total }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

    <div class="right-div">
    <div style="font-weight:800;  font-size:12px; " >
      <p >Sub Total: </p>
    <p>Tax(10%): </p>
    <p>Grand Total: </p>
    <p>Paid: </p>
    <p>Balance: </p>
    </div>
    <div style="font-size:12px;">
      <p>${{ order.subtotal }}</p>
    <p>${{ order.tax }}</p>
    <p>${{ order.grandtotal }}</p>
    <p>${{ order.paid }}</p>
    <p>${{ order.returned }}</p>

    </div>

  </div>

<div style="margin-top:195px; font-size:12px;">
  <p style="text-align: center; font-size:13px;">Payment Method: <span style="font-weight: 700;">{{payment_type}}</span></p>
  <br>
  <br>
  <div >
    <p style="text-align: left; font-size:12px;">Customer Name: {{name}}</p>
    <p style="text-align: left; font-size:12px;">Phone# <span style="font-weight: 700;">{{phone}}</span></p>
  </div>
  <p style="text-align: center; font-size:14px; margin-top:20px;">THANKYOU FOR SHOPPING AT MY PHARMACY</p>
</div>

</body>
</html>
