{%extends 'pointofsale/basic.html'%}

{%block style%}


.statusnot{
        text-decoration: none;
        padding: 4px 34px;
        background-color: #fecaca;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        color: #991b1b;
        font-size: 12px;
        font-weight: bold;

        }
        .statusnot:hover {
        text-decoration: none;
        background-color:red ; /* darker green on hover */
        color: white; /* keep text white */
      }
.statusreturn{
        text-decoration: none;
        padding: 4px 34px;
        background-color: green;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        color: white;
        font-size: 12px;
        font-weight: bold;

        }
        .statusreturn:hover {
        text-decoration: none;
        background-color:red ; /* darker green on hover */
        color: white; /* keep text white */
      }

{%endblock%}





{%block body%}
 <section class="text-gray-600 body-font mt-1 mb-5 ">
    <div class="container px-5 py-12 mx-auto">
        <div class="lg:w-2/4 h-38 flex flex-col justify-center  items-center mx-auto   bg-white p-6 shadow-lg shadow-gray-350/35 rounded-3xl">
            <h1 class="text-2xl my-1 font-bold title-font text-orange-500 text-center">Order ID: {{sale.order_id}}</h1>
            <h1 class="text-xl my-1 font-medium title-font text-red-500 text-center">Customer Name: {{sale.customer_name}}</h1>
            <a href="/pos/invoice/{{sale.order_id}}" class="flex-shrink-0 text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded text-sm mt-2 sm:mt-2">Print Receipt</a>
        </div>
    </div>

</section>

<table class="min-w-full bg-white border border-orange-200">
    <thead>
      <tr>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Phone#</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Payment Method</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sub Total</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Tax</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Grand Total</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Paid</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Balance</th>
          {%if flag == True %}
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
          {%else%}
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Return</th>
          {% endif%}

      </tr>
    </thead>
    <tbody>
      <!-- Example row -->
      <tr class="hover:bg-orange-50">
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.date}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.customer_phone}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.payment_type}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.subtotal}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.tax}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.grandtotal}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.paid}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{sale.returned}}</td>
          {%if flag == True %}
        <td class="border-b border-orange-200"><a class="statusnot">Returned</a></td>
          {%else%}
          <td class="border-b border-orange-200"><a href="/pos/returns/log/{{sale.order_id}}" class="statusreturn">Return</a></td>
          {% endif%}


      </tr>
      <!-- Repeat rows dynamically -->
    </tbody>
  </table>
<h1 class="mt-6 text-orange-500 font-bold text-2xl px-2">Ordered:</h1>
<table class="min-w-full bg-white border border-orange-200 mt-1">
    <thead>
      <tr>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-center text-xs font-medium text-gray-500 uppercase tracking-wider">#</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-center text-xs font-medium text-gray-500 uppercase tracking-wider">Medicine</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Brand</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dose Form</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dose</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Price</th>
        <th class="px-6 py-3 border-b border-orange-200 bg-orange-100 text-orange-500 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Sub Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- Example row -->
      {%for item in order%}
      <tr class="hover:bg-orange-50">
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{forloop.counter}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.name}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.brand}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.form}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.unit}}{{item.siunit}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.quantity}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.price}}</td>
        <td class="px-6 py-4 whitespace-nowrap border-b border-orange-200">{{item.sub_total}}</td>
      </tr>
      {%endfor%}
      <!-- Repeat rows dynamically -->
    </tbody>
  </table>



{%endblock%}






{% block scripts %}

{%endblock%}